.player-card {
  background: gold;
  color: black;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: grab;

  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

.pitch {
  position: relative;
  width: 600px;
  height: 400px;
  background: green;
  border-radius: 12px;
}

.position-slot {
  position: absolute;
  width: 100px;
  height: 110px;
  border: 2px dashed white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

.player-pool {
  width: 200px;
  background: #222;
  padding: 10px;
}
